# http://docs.mongodb.org/manual/reference/configuration-options/

net:
  port: 27017
  bindIp: '*'

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

security:
  authorization: disabled



